# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [1]:
import pandas as pd
import numpy as np

# Seu código aqui
ano = [1900, 1920, 1940, 1960, 1980, 2000, 2020]
anomalia_termica = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]
temp_global = pd.Series(anomalia_termica, index = ano)
temp_global

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [ ]:

# seu código aqui

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [2]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
serie_temp = pd.Series(dic_temperaturas)
serie_temp

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [4]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
df = pd.DataFrame(arr, columns = ['Coluna1', 'Coluna2', 'Coluna3'])
df

       Coluna1     Coluna2     Coluna3
0    97.740271   98.365411   89.676786
1   102.880521  123.349279  100.927426
2    96.416288  107.645930  109.646915
3   105.596114  103.597344  122.868338
4   103.649598   82.526829   87.554370
5    88.837453  112.000885  100.367831
6    94.913305  101.387106  101.527254
7    93.817598  115.661807   97.365503
8   106.885414   87.694100  101.681045
9   113.271040  107.674487   98.048017
10   95.488147  109.283829  101.751290
11  110.353022   90.602132  105.236242
12  106.006588   97.718122   94.320687
13   94.970161   82.399818   99.572392
14   83.844308   95.907195  105.322798
15   88.590307   99.385487   87.908962
16  106.169311  105.156191   80.763715
17   93.644060   91.965603  106.094238
18  105.936963   99.094221  100.480264
19   81.344246  104.398525   93.123477

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [8]:
#seu código aqui
df = pd.DataFrame(arr, columns = ['x1', 'x2', 'x3'], index = range(1, 21))
df

            x1          x2          x3
1    97.740271   98.365411   89.676786
2   102.880521  123.349279  100.927426
3    96.416288  107.645930  109.646915
4   105.596114  103.597344  122.868338
5   103.649598   82.526829   87.554370
6    88.837453  112.000885  100.367831
7    94.913305  101.387106  101.527254
8    93.817598  115.661807   97.365503
9   106.885414   87.694100  101.681045
10  113.271040  107.674487   98.048017
11   95.488147  109.283829  101.751290
12  110.353022   90.602132  105.236242
13  106.006588   97.718122   94.320687
14   94.970161   82.399818   99.572392
15   83.844308   95.907195  105.322798
16   88.590307   99.385487   87.908962
17  106.169311  105.156191   80.763715
18   93.644060   91.965603  106.094238
19  105.936963   99.094221  100.480264
20   81.344246  104.398525   93.123477

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [9]:
# seu código aqui
df['media'] = (df['x1'] + df['x2'] + df['x3']) / 3
df

            x1          x2          x3       media
1    97.740271   98.365411   89.676786   95.260823
2   102.880521  123.349279  100.927426  109.052409
3    96.416288  107.645930  109.646915  104.569711
4   105.596114  103.597344  122.868338  110.687265
5   103.649598   82.526829   87.554370   91.243599
6    88.837453  112.000885  100.367831  100.402056
7    94.913305  101.387106  101.527254   99.275888
8    93.817598  115.661807   97.365503  102.281636
9   106.885414   87.694100  101.681045   98.753520
10  113.271040  107.674487   98.048017  106.331181
11   95.488147  109.283829  101.751290  102.174422
12  110.353022   90.602132  105.236242  102.063799
13  106.006588   97.718122   94.320687   99.348466
14   94.970161   82.399818   99.572392   92.314123
15   83.844308   95.907195  105.322798   95.024767
16   88.590307   99.385487   87.908962   91.961585
17  106.169311  105.156191   80.763715   97.363072
18   93.644060   91.965603  106.094238   97.234634
19  105.936963   99.094221  100.480264  101.837149
20   81.344246  104.398525   93.123477   92.955416

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [15]:
# seu código aqui
df['log_med'] = np.log(df['media'])
df

            x1          x2          x3       media   log_med
1    97.740271   98.365411   89.676786   95.260823  4.556619
2   102.880521  123.349279  100.927426  109.052409  4.691829
3    96.416288  107.645930  109.646915  104.569711  4.649854
4   105.596114  103.597344  122.868338  110.687265  4.706709
5   103.649598   82.526829   87.554370   91.243599  4.513533
6    88.837453  112.000885  100.367831  100.402056  4.609183
7    94.913305  101.387106  101.527254   99.275888  4.597903
8    93.817598  115.661807   97.365503  102.281636  4.627730
9   106.885414   87.694100  101.681045   98.753520  4.592627
10  113.271040  107.674487   98.048017  106.331181  4.666559
11   95.488147  109.283829  101.751290  102.174422  4.626681
12  110.353022   90.602132  105.236242  102.063799  4.625598
13  106.006588   97.718122   94.320687   99.348466  4.598634
14   94.970161   82.399818   99.572392   92.314123  4.525197
15   83.844308   95.907195  105.322798   95.024767  4.554138
16   88.590307   99.385487   87.908962   91.961585  4.521371
17  106.169311  105.156191   80.763715   97.363072  4.578447
18   93.644060   91.965603  106.094238   97.234634  4.577127
19  105.936963   99.094221  100.480264  101.837149  4.623375
20   81.344246  104.398525   93.123477   92.955416  4.532120